language: java
jdk:
  - openjdk8

branches:
  only:
    - master

# Travis CI 서버의 Home
cache:
  directories:
    - $HOME/.m2

before_install:
  - cd API/task
  - chmod +x mvnw

install: true
script: ./mvnw clean install